* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat';
    background-color: #FFFFC2;

}

div, ul, nav, header, footer, a, li, label, body {
    margin: 0;
    padding: 0;
}

/* ----- HEADER SECTION ------ */

.header {
    background-color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
    text-align: center;
    color: #020505;
    position: sticky;
    top: 0;
}

.header__open-nav-button {
    color: #020505;
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
}

.header__checkbox {
    display: none;
}

.header__nav {
    display: none;
    background-color: #fff;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: -1;
}

.header__nav-list {
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: auto;
    justify-content: space-evenly;
}

.header__checkbox:checked  ~ .header__nav {
    display: flex;
}

.header__logo {
    max-width: 100%;
    width: 64px;
    margin: 10px 20px;
}

.header__nav-item {
    list-style: none;
}

.header__nav-item a {
    color: inherit;
    font-size: 32px;
}

.header__nav-item a:not(:is(:hover, :active)) {
    text-decoration: none;
}


/* ----- HEADER QUERIES ------ */

@media screen and (min-width: 600px) {
    .header {
        padding: 20px 0;
        animation: header-movement both;
        animation-timeline: scroll();
        position: sticky;
        top: 0;
        animation-range: 0px 100px;
        animation-timing-function: linear;
    }
    
    .header__nav {
        display: block;
        position: static;
        height: auto;
        width: auto;
        justify-content: space-between;
        z-index: auto;
        background-color: initial;
    }

    .header__nav-list {
        flex-direction: row;
        height: auto;
        width: auto;
        margin-right: 40px;
        gap: 20px;
    }

    .header__open-nav-button {
        display: none;
    }

    .header__nav-item a {
    font-size: 1rem;
    }
}

/* ----- HEADER ENDS ------ */

/* ----- PROFILE SECTION ------ */

.profile {
    container-name: profile;
    container-type: inline-size;
    animation: aparecer 2s both;
}

.profile__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1400px;
}

.profile__data-container {
    max-width: 600px;
    padding: 12px;

}

.profile__img-container {
    max-height: 500px;
    overflow: hidden;
}

.profile__img {
    max-width: 100%;
    width: 720px;
}

h1, h2 {
    color: #facd01;
}

.profile__character {
    list-style: none;
    display: flex;
    margin: 5px;
    max-width: 600px;
    margin-left: 0;
    align-items: center;
}

.profile__character-name {
    font-weight: bold;
    font-size: 1.2rem;
}

.load-bar {
    max-width: 250px;
    border: 2px solid #020505;
    border-radius: 8px;
    color: #020505;
    font-weight: bold;
    padding: 2px;
    font-size: 12px;
    width: 80%;
    margin: 4px;
    margin-left: 0;
}

.load-bar__bar {
    background-color: #facd01;
    border-radius: 4px;
    padding: 4px 6px;
}

.bar--100 {
    width: 100%;
    animation: bar-100 2s both;
}

.bar--95 {
    width: 95%;
    animation: bar-95 2s both;
}

.bar--85 {
    width: 85%;
    animation: bar-85 2s both;
}

.bar--75 {
    width: 75%;
    animation: bar-75 2s both;
}

.bar--70 {
    width: 70%;
    animation: bar-70 2s both;
}

/* ----- PROFILE QUERIES ------ */

@container profile (min-width: 600px) {
    .profile__wrapper {
        flex-direction: row;
        padding: 20px;
        margin: auto;
    }

    .profile__data-container {
        display: flex;
        align-items: center;
    }

    h1 {
        margin-top: 10;
        margin-bottom: 0;
        font-size: 4rem;
        text-align: center;
        text-wrap: balance;
    }

    h2 {
        font-size: 2rem;
    }

    .profile__img {
        margin-top: 14px;
    }

    .profile__data {
        max-width: 620px;
    }

    .profile__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        width: 620px;
    }

    .profile__character {
        margin: 0;
    }

    .profile__subtitle {
        margin: 0;
    }
}

/* ----- PROFILE ENDS ------ */

/* ----- FAMILY SECTION ------ */

.family {
    background-color: #fff;
    color: #020505;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-top: 5px solid #000;
    border-bottom: 5px solid #000;
    container-name: family;
    container-type: inline-size;
}

.family__title {
    font-size: 3rem;
    margin-bottom: 0;
}

.family h2 {
    color: #020505;
}

.family__project-container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    gap: 12px;
    padding: 12px;
    min-height: 90vh;
}

.family__project {
    display: grid;
    place-content: center;
    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 10% cover 40%;
}

.family__project-img {
    border: 2px solid #facd01;
    max-width: 238px;
    max-height: 238px;
}

.family--one:is(:hover, :active) {
    content: url(images/spike.avif);
}

.family--two:is(:hover, :active) {
    content: url(images/belle.avif);
}

.family--three:is(:hover, :active) {
    content: url(images/marbles.avif);
}

.family--four:is(:hover, :active) {
    content: url(images/olaf.avif);
}

.family--five:is(:hover, :active) {
    content: url(images/andy.avif);
}

.family--six:is(:hover, :active) {
    content: url(images/momdad.avif);
}

/* ----- FAMILY QUERIES ------ */

@container family (min-width: 600px) {
    .family__project-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@container family (min-width: 900px) {
    .family__project-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}

/* ----- FAMILY ENDS ------ */

/* ----- CONTACT SECTION ------ */

.form {
    min-height: 60vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    container-name: form;
    container-type: inline-size;
    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 20% contain 40%;
}

.form__form {
    padding: 12px;
    color: #020505;
    font-size: 16px;
    font-weight: bold;
    max-width: 600px;
    width: 100%;
    display: grid;
}

.form__title {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}

.form__input-container :is(input, textarea) {
    width: 100%;
    padding: 6px;
    font-size: 16px;
    margin: 4px;
    border: none;
    box-shadow: 2px 2px 4px #0003;
}

.form__input-container textarea {
    resize: none;
    min-height: 120px;
    font-family: inherit;
}

.form__input-container input[type="submit"] {
    padding: 12px;
    background-color: #facd01;
    color: #020505;

}

/* ----- CONTACT QUERIES ------ */

@container form (min-width: 600px) {
    .form__form {
        grid-template-columns: 1fr, 1fr;
        grid-template-areas:
        "name lastname"
        "email email"
        "message message"
        "button button";
        gap: 12px;
        background-color: #ffe01a;
        border-radius: 12px;
        padding: 30px;
        box-shadow: 0 0 40px #0006;
    }

    .form__input-container:first-child {
        grid-area: name;
    }

    .form__input-container:nth-child(2) {
        grid-area: lastname;
    }

    .form__input-container:nth-child(3) {
        grid-area: email;
    }

    .form__input-container:nth-child(4) {
        grid-area: message;
    }

    .form__input-container:nth-child(5) {
        grid-area: button;
    }
    
}

/* ----- CONTACT ENDS ------ */

/* ----- FOOTER SECTION ------ */

footer {
    padding: 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 20px;
}

/* ----- FOOTER ENDS ------ */

/* ----- ANIMATIONS ------ */

@keyframes header-movement {
    from {
        padding: 20px 0;
        background-color: #fff;
    }

    to {
        padding: 0;
        background-color: #0006;
        color: #fff;
    }
}

@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes bar-100 {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

@keyframes bar-95 {
    from {
        width: 0%;
    }

    to {
        width: 95%;
    }
}
@keyframes bar-85 {
    from {
        width: 0%;
    }

    to {
        width: 85%;
    }
}
@keyframes bar-75 {
    from {
        width: 0%;
    }

    to {
        width: 75%;
    }
}
@keyframes bar-70 {
    from {
        width: 0%;
    }

    to {
        width: 70%;
    }
}